body {
    background-color: rgb(51, 51, 51);
    color: white;
    font-family: 'Raleway', sans-serif;
}

button#get-joke {
    background-color: rgb(235, 42, 42);
    border-color: rgb(230, 36, 36);
    color: white;
    font-family: 'Paytone One', sans-serif;
    font-size: larger;
    margin-top: 20em;
    width: 20em;
    height: 4em;
}

button#get-joke:hover {
    background-color: rgb(199, 30, 24);
    border-color:rgb(192, 4, 4);
    cursor: pointer;
}

button#get-joke:disabled {
    background-color: rgb(170, 61, 57);
    border-color:rgb(124, 40, 40);
    color: rgb(199, 199, 199);
}

button#get-joke:active {
    background-color: rgb(218, 171, 171);
    border-color: rgb(189, 122, 122);
}

#wrapper, div#display {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#display {
    margin-top: 5em;
}

#joke-id {
    margin-top: 5em;
    text-align: center;
}

div#category-display {
    position: fixed;
    margin-left: 45%;
}

select#cat-list {
    position: fixed;
    top: 27em;
    left: 43em;
}

#loader {
    display: none;
}

.loader {
    display: inline !important;
}